In [110]:
import pandas as pd

# Loading Data

In [111]:
df = pd.read_csv('D:\Programowanie\Workplace\Code\Data_Science_brick_by_brick\DataScienceSummerStudy\_pandas\pokemon_data.csv')

print(df.head(3))
# print(df.tail(3))

#df_xlsx = pd.read_excel('D:\Programowanie\Workplace\Code\Data_Science_brick_by_brick\DataScienceSummerStudy\_pandas\pokemon_data.xlsx')

# print(df_xlsx.head())

# df_text = pd.read_csv('D:\Programowanie\Workplace\Code\Data_Science_brick_by_brick\DataScienceSummerStudy\_pandas\pokemon_data.txt', delimiter='\t')
# print(df_text.head())

   #       Name Type 1  Type 2  HP  Attack  Defense  Sp. Atk  Sp. Def  Speed  \
0  1  Bulbasaur  Grass  Poison  45      49       49       65       65     45
1  2    Ivysaur  Grass  Poison  60      62       63       80       80     60
2  3   Venusaur  Grass  Poison  80      82       83      100      100     80

   Generation  Legendary
0           1      False
1           1      False
2           1      False

# Reading Data in Pandas

In [112]:
## Read Headers
df.columns

## Read each column
df['Name'][0:20]
df[['Name', 'Type 1', "HP"]]

## Read specific row
df.iloc[1]

## Iterating throw each row
# for index, row in df.iterrows():
#     print(index, row)
df.loc[df['Type 1'] == "Grass"]

## Read a specific location (R,C)
# df.iloc[2,1]

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
48,43,Oddish,Grass,Poison,45,50,55,75,65,30,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
718,650,Chespin,Grass,NaN,56,61,65,48,45,38,6,False
719,651,Quilladin,Grass,NaN,61,78,95,56,58,57,6,False
720,652,Chesnaught,Grass,Fighting,88,107,122,74,75,64,6,False
740,672,Skiddo,Grass,NaN,66,65,48,62,57,52,6,False
741,673,Gogoat,Grass,NaN,123,100,62,97,81,68,6,False

# Sorting/Describing Data

In [113]:
# df.describe()
# df.sort_values(['Name', 'HP'], ascending=False)
df.sort_values(['Type 1', 'HP'], ascending=[1,0])

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
520,469,Yanmega,Bug,Flying,86,76,86,116,56,95,4,False
698,637,Volcarona,Bug,Fire,85,60,65,135,105,100,5,False
231,214,Heracross,Bug,Fighting,80,125,75,40,95,85,2,False
232,214,HeracrossMega Heracross,Bug,Fighting,80,185,115,40,105,75,2,False
678,617,Accelgor,Bug,NaN,80,70,40,100,60,145,5,False
...,...,...,...,...,...,...,...,...,...,...,...,...
106,98,Krabby,Water,NaN,30,105,90,25,25,50,1,False
125,116,Horsea,Water,NaN,30,40,70,70,25,60,1,False
129,120,Staryu,Water,NaN,30,45,55,70,55,85,1,False
139,129,Magikarp,Water,NaN,20,10,55,15,20,80,1,False
381,349,Feebas,Water,NaN,20,15,20,10,55,80,3,False

# Making changes do the data

In [114]:
# Adding column
# df['Total'] = df['HP'] + df['Attack'] + df['Defense'] + df['Sp. Atk'] + df['Sp. Def'] + df['Speed']

# Droping column 
# df = df.drop(columns=['Total'])

df['Total'] = df.iloc[:, 4:10].sum(axis=1)

cols = list(df.columns.values)
df = df[cols[0:4] + [cols[-1]] + cols[4:12]]

df.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [115]:
# Check if its correct
a = 45 + 49 + 49 + 65 + 65 + 45
a

318

# Saving our Data (Exporting into Data Frame)

In [116]:
# df.to_csv('D:\Programowanie\Workplace\Code\Data_Science_brick_by_brick\DataScienceSummerStudy\_pandas\modified.csv', index=False)
# df.to_excel('D:\Programowanie\Workplace\Code\Data_Science_brick_by_brick\DataScienceSummerStudy\_pandas\modified.xlsx', index=False)
df.to_csv('D:\Programowanie\Workplace\Code\Data_Science_brick_by_brick\DataScienceSummerStudy\_pandas\modified.txt', index=False, sep="\t")

# Filtering Data

In [117]:
# OR
# df.loc[(df['Type 1'] == 'Grass') | (df['Type 2'] == 'Poison')]

new_df = df.loc[(df['Type 1'] == 'Grass') & (df['Type 2'] == 'Poison') & (df['HP'] > 70)]
# new_df.to_csv('D:\Programowanie\Workplace\Code\Data_Science_brick_by_brick\DataScienceSummerStudy\_pandas/filtered.csv', index=False)

# Reseting index
new_df.reset_index(drop=True, inplace=True)
print(new_df)

     #                   Name Type 1  Type 2  Total   HP  Attack  Defense  \
0    3               Venusaur  Grass  Poison    525   80      82       83
1    3  VenusaurMega Venusaur  Grass  Poison    625   80     100      123
2   45              Vileplume  Grass  Poison    490   75      80       85
3   71             Victreebel  Grass  Poison    490   80     105       65
4  591              Amoonguss  Grass  Poison    464  114      85       70

   Sp. Atk  Sp. Def  Speed  Generation  Legendary
0      100      100     80           1      False
1      122      120     80           1      False
2      110       90     50           1      False
3      100       70     70           1      False
4       85       80     30           5      False

In [118]:
import re

In [119]:
# filtering by string name of element in column

# new_df = df.loc[(df['Type 1'] == 'Grass') & (df['Type 2'] == 'Poison') & (df['HP'] > 70)]
# df.loc[~df['Name'].str.contains('Mega')]

# df.loc[df['Type 1'].str.contains('grass|fire', flags=re.I, regex=True)]
df.loc[df['Name'].str.contains('^pi[a-z]*', flags=re.I, regex=True)]

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
20,16,Pidgey,Normal,Flying,251,40,45,40,35,35,56,1,False
21,17,Pidgeotto,Normal,Flying,349,63,60,55,50,50,71,1,False
22,18,Pidgeot,Normal,Flying,479,83,80,75,70,70,101,1,False
23,18,PidgeotMega Pidgeot,Normal,Flying,579,83,80,80,135,80,121,1,False
30,25,Pikachu,Electric,NaN,320,35,55,40,50,50,90,1,False
136,127,Pinsir,Bug,NaN,500,65,125,100,55,70,85,1,False
137,127,PinsirMega Pinsir,Bug,Flying,600,65,155,120,65,90,105,1,False
186,172,Pichu,Electric,NaN,205,20,40,15,35,35,60,2,False
219,204,Pineco,Bug,NaN,290,50,65,90,35,35,15,2,False
239,221,Piloswine,Ice,Ground,450,100,100,80,60,60,50,2,False
438,393,Piplup,Water,NaN,314,53,51,53,61,56,40,4,False
558,499,Pignite,Fire,Fighting,418,90,93,55,70,55,55,5,False
578,519,Pidove,Normal,Flying,264,50,55,50,36,30,43,5,False

# Conditional Changes

In [120]:
# df.loc[df['Type 1'] == 'Fire', 'Type 1' ] = 'Flamer'
# df.loc[df['Type 1'] == 'Fire', 'Legendary' ] = True

In [128]:
# df.loc[df['Total'] > 500, ['Generation', 'Legendary']] = 'TEST VALUES'
# df.loc[df['Total'] > 500, ['Generation', 'Legendary']] = ['Test1', 'Test2']
# df

df

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

# Aggregate Statistics (GroupBy)

In [149]:
df = pd.read_csv('D:\Programowanie\Workplace\Code\Data_Science_brick_by_brick\DataScienceSummerStudy\_pandas\modified.csv')

numeric_cols = ['Total', 'HP', 'Attack', 'Defense', 'Sp. Atk', 'Sp. Def', 'Speed', 'Generation', 'Legendary']
numeric_df = df[numeric_cols + ['Type 1']]

numeric_df['count'] = 1
# grouped_mean = numeric_df.groupby(['Type 1']).mean().sort_values('HP', ascending=False)
# grouped_mean = numeric_df.groupby(['Type 1']).sum()
grouped_mean = numeric_df.groupby(['Type 1']).count()['count']
print(grouped_mean)

Type 1
Bug          69
Dark         31
Dragon       32
Electric     44
Fairy        17
Fighting     27
Fire         52
Flying        4
Ghost        32
Grass        70
Ground       32
Ice          24
Normal       98
Poison       28
Psychic      57
Rock         44
Steel        27
Water       112
Name: count, dtype: int64

C:\Users\ploci\AppData\Local\Temp\ipykernel_46980\32963935.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  numeric_df['count'] = 1

# Working with large amounts of data

In [154]:
original_df = pd.read_csv('D:\Programowanie\Workplace\Code\Data_Science_brick_by_brick\DataScienceSummerStudy\_pandas\modified.csv')
new_df = pd.DataFrame(columns=original_df.columns)

for chunk in pd.read_csv('D:\Programowanie\Workplace\Code\Data_Science_brick_by_brick\DataScienceSummerStudy\_pandas\modified.csv', chunksize=5):
    results = chunk.groupby(['Type 1']).count()
    new_df = pd.concat([new_df, results])

print(new_df)

         # Name Type 1 Type 2 Total HP Attack Defense Sp. Atk Sp. Def Speed  \
Fire     1    1    NaN      0     1  1      1       1       1       1     1
Grass    4    4    NaN      4     4  4      4       4       4       4     4
Fire     4    4    NaN      3     4  4      4       4       4       4     4
Water    1    1    NaN      0     1  1      1       1       1       1     1
Bug      2    2    NaN      0     2  2      2       2       2       2     2
...     ..  ...    ...    ...   ... ..    ...     ...     ...     ...   ...
Fairy    1    1    NaN      0     1  1      1       1       1       1     1
Flying   2    2    NaN      2     2  2      2       2       2       2     2
Fire     1    1    NaN      1     1  1      1       1       1       1     1
Psychic  2    2    NaN      2     2  2      2       2       2       2     2
Rock     2    2    NaN      2     2  2      2       2       2       2     2

        Generation Legendary
Fire             1         1
Grass            4         4
Fire             4         4
Water            1         1
Bug              2         2
...            ...       ...
Fairy            1         1
Flying           2         2
Fire             1         1
Psychic          2         2
Rock             2         2

[433 rows x 13 columns]